.ellipse1 {
  position: absolute;
  width: 160px;
  height: 112px;
  border: 1px solid #7B61FF;
  border-radius: 50%;
  transform: rotate(60deg);
}

.ellipse2 {
  position: absolute;
  width: 160px;
  height: 112px;
  border: 1px solid #00FFB2;
  border-radius: 50%;
  transform: rotate(130deg);
}

.ellipse3 {
  position: absolute;
  width: 160px;
  height: 112px;
  border: 1px solid #FFA0A0;
  border-radius: 50%;
  transform: rotate(-20deg);
}
